@import "tailwindcss";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.fade-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 2s ease-in-out forwards;
}

.fade-up.one {
    animation-delay: 0s;
}

.fade-up.two {
    animation-delay: 1s;
}

.fade-up.three {
    animation-delay: 2.5s;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }

.no_scroll {
    overflow: hidden !important;
}

.glow-image {
    color: #111;
    background: green;
    box-shadow: 0 0 100px green;
}

@keyframes opacity-glow {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}

.background-glow {
    animation: opacity-glow 4s infinite;
    background: linear-gradient(45deg, #00ff00);
    background-size: 400% 400%;
    -webkit-text-fill-color: transparent;
}

.background-glow.one {
    animation-delay: 0s;
}

.background-glow.two {
    animation-delay: 0.5s;
}

.background-glow.three {
    animation-delay: 1s;
}

.background-glow.four {
    animation-delay: 1.5s;
}

.background-glow.five {
    animation-delay: 2s;
}

.background-glow.six {
    animation-delay: 2.5s;
}

.background-glow.seven {
    animation-delay: 3s;
}